env:
  global:
    secure: E9+mZvO/ZXLXyExQGTG+F38nWcujriwsBmvXlz8cvVWinuwIn3sflFQenvkz7+FEzh2bRCz4KBS5B6+cNRjsTPv5dC7Vq+UvsSB8woOY86k9PVYo4Sq9ETchLjmVaXA2zPBO2Tq+JVWXE3KSCIJXgTjP0JQT6CbSLCACQnEdogggq3+mO6nWKHKw2bMSDHjpjUzr8WcoBfgqReJ5cBoZFy8lYntdxnvFXvGsjVhY9yjZhgPTSN7oMshMbCMR7FB2spO8EaAX4r291y7t8Lv0kQE8tF2tGu6QoeJng/3zdnhwfvR2VF0diPu3uugJ74kLlFSkbSJWdcqlRMcthLKry1x4Svm3FxdDEwzBSf9wUHc5ET8TAuzRmpaj8V52bDuVmxdoChufyCb0Ac8kxdorEcqY23LnfQJCLl5vPvhVl29M8eg32AlZdTm08WRaGBfs3b75JbzLJy/u51EfHUo+/qrWocImqRiv+/3FVkWgiZffymLTsJoPAUMc5hO/11h1r60mbf6Y1HTWVUvpzCF8pcqplV8NvwaXJSeLSp2pZHiMzMMSkbG+dIPLJFyoI2AhD1xXFaDgnhxdfvBayKTgCA3YMauc+6Prt2E17Cd1NaGQlRnTZ6clJCM6HdXL7E2vky9Dkh7/RRkso2QAcLwbhRYkKDr3EA83PsRAAYIQoic=
language: ruby
cache: bundler
rvm:
- 2.2.2
- 2.5
before_script:
- curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64
  > ./cc-test-reporter
- chmod +x ./cc-test-reporter
- "./cc-test-reporter before-build"
- cp test/configurations.example.yml test/configurations.yml
script:
- bin/test
after_script:
- "./cc-test-reporter after-build --exit-code $TRAVIS_TEST_RESULT"
